In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("call_histories_u.csv")

In [3]:
df.sample(10)

,member_phone,phone,type,time,in_contact,duration
299058,8.456921e+10,84939619767,1,11/28/2020 6:47,0,49
689753,8.433392e+10,84989230242,3,1/1/2021 9:45,1,36
476633,8.489882e+10,8.429E+11,1,12/5/2020 11:00,0,8
650656,8.498912e+10,84898424194,1,1/3/2021 11:57,1,56
512472,8.498333e+10,84981596541,3,12/13/2020 9:48,1,0
450309,8.497851e+10,84963059108,1,12/18/2020 14:31,1,15
595627,8.492794e+10,84922627759,1,12/26/2020 17:51,1,28
288596,8.498764e+10,84982830201,2,11/30/2020 13:43,1,14
449939,8.434348e+10,84963087963,1,11/17/2020 5:40,1,7
805678,8.493353e+10,84939289988,2,1/2/2021 9:03,0,51

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   member_phone  1048575 non-null  float64
 1   phone         1045848 non-null  object
 2   type          1048575 non-null  int64
 3   time          1048575 non-null  object
 4   in_contact    1048575 non-null  int64
 5   duration      1048575 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 48.0+ MB

In [5]:
df.member_phone.unique().shape

(8533,)

In [6]:
df.phone.unique().shape

(231915,)

In [7]:
# df['spam']=df.report_advertising+df.report_loan+df.report_debt+df.report_cheat+df.report_real_estate+df.report_other

In [8]:
# df.spam.sum()

In [9]:
df.isnull().sum()

member_phone       0
phone           2727
type               0
time               0
in_contact         0
duration           0
dtype: int64

In [10]:
df.dropna()

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [11]:
sdt=pd.DataFrame({'phone': np.append(df.phone.unique(),df.member_phone.unique())})
sdt.shape

(240448, 1)

In [12]:
df.member_phone.unique().shape[0]+df.phone.unique().shape[0]

240448

In [13]:
df.type.unique()

array([1, 4, 3, 2], dtype=int64)

In [14]:
df.head(20)

    member_phone        phone  type             time  in_contact  duration
0   8.493177e+10  84906806868     1   9/10/2020 8:03           1        24
1   8.493177e+10  84868173583     4   9/9/2020 10:40           1         0
2   8.493177e+10  84898585959     1   9/8/2020 19:51           1       920
3   8.493177e+10  84356386381     1  9/11/2020 17:38           0         7
4   8.493177e+10  84913101416     1   9/8/2020 13:13           1        39
5   8.493177e+10  84396642450     3   9/12/2020 9:48           0         0
6   8.493177e+10  84936986468     4   9/11/2020 6:57           1         0
7   8.493177e+10  84989082183     3   9/10/2020 7:03           1         0
8   8.493177e+10  84911366701     4   9/7/2020 11:58           0         0
9   8.493177e+10  84936986468     4    9/9/2020 7:23           1         0
10  8.493177e+10  84961385474     4  9/10/2020 17:40           0         0
11  8.493177e+10  84989082183     1  9/14/2020 17:01           1         2
12  8.493177e+10  84936986468     2   9/11/2020 7:00           1        12
13  8.493177e+10  84916398883     1   9/11/2020 8:39           1       100
14  8.493177e+10  84989082183     4  9/14/2020 21:52           1         0
15  8.493177e+10  84359876589     1  9/15/2020 14:19           0        15
16  8.493177e+10  84913101416     4   9/10/2020 8:17           1         0
17  8.493177e+10  8.42857E+11     3  9/15/2020 16:21           0         0
18  8.493177e+10  8.42473E+11     3   9/8/2020 14:28           0         0
19  8.493177e+10  84936986468     2    9/8/2020 8:36           1        19

In [15]:
len(df.phone)

1048575

In [16]:
a=df.groupby(['phone'],sort=False).duration.sum().to_frame(name = 'sum_duration')
a

             sum_duration
phone
84906806868            35
84868173583          8410
84898585959          1638
84356386381            22
84913101416           375
...                   ...
84359963639           135
84919904127             0
84866824824             0
84869056447            14
84973563533             0

[231914 rows x 1 columns]

In [17]:
b=df.groupby(['phone'],sort=False).in_contact.sum().to_frame(name = 'sum_in_contact')
a['sum_in_contact']=b.sum_in_contact
a

             sum_duration  sum_in_contact
phone
84906806868            35               2
84868173583          8410              33
84898585959          1638              16
84356386381            22               0
84913101416           375               6
...                   ...             ...
84359963639           135               0
84919904127             0               1
84866824824             0               0
84869056447            14               0
84973563533             0               2

[231914 rows x 2 columns]

In [18]:
c=df.groupby(['phone'],sort=False).phone.count().to_frame(name = 'sum_call')
a['sum_call']=c.sum_call
a

             sum_duration  sum_in_contact  sum_call
phone
84906806868            35               2         2
84868173583          8410              33        33
84898585959          1638              16        16
84356386381            22               0         2
84913101416           375               6         6
...                   ...             ...       ...
84359963639           135               0         5
84919904127             0               1         1
84866824824             0               0         1
84869056447            14               0         1
84973563533             0               2         2

[231914 rows x 3 columns]

In [19]:
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
# df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH = pd.DataFrame(OH_encoder.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_to','call_in','call_to_miss','call_in_miss'])
OH

         call_to  call_in  call_to_miss  call_in_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
1048570      0.0      0.0           0.0           1.0
1048571      0.0      1.0           0.0           0.0
1048572      0.0      1.0           0.0           0.0
1048573      0.0      0.0           1.0           0.0
1048574      0.0      0.0           1.0           0.0

[1048575 rows x 4 columns]

In [20]:
np.array(df.type).reshape(-1,1)

array([[1],
       [4],
       [1],
       ...,
       [2],
       [3],
       [3]], dtype=int64)

In [21]:
data=df.copy()
data

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [22]:
df

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [23]:
df1=pd.concat([df,OH],axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   member_phone  1048575 non-null  float64
 1   phone         1045848 non-null  object
 2   type          1048575 non-null  int64
 3   time          1048575 non-null  object
 4   in_contact    1048575 non-null  int64
 5   duration      1048575 non-null  int64
 6   call_to       1048575 non-null  float64
 7   call_in       1048575 non-null  float64
 8   call_to_miss  1048575 non-null  float64
 9   call_in_miss  1048575 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 80.0+ MB

In [24]:
df1['duration_call_to']=df1.duration*df1.call_to
df1['duration_call_in']=df1.duration*df1.call_in
df1['duration_call_to_miss']=df1.duration*df1.call_to_miss
df1['duration_call_in_miss']=df1.duration*df1.call_in_miss
df1

,member_phone,phone,type,time,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24,1.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920,1.0,0.0,0.0,0.0,920.0,0.0,0.0,0.0
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7,1.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39,1.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7,0.0,1.0,0.0,0.0,0.0,7.0,0.0,0.0
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [25]:
OH.columns

Index(['call_to', 'call_in', 'call_to_miss', 'call_in_miss'], dtype='object')

In [26]:
df.columns

Index(['member_phone', 'phone', 'type', 'time', 'in_contact', 'duration'], dtype='object')

In [27]:
a=df1.groupby(['phone'],sort=False).sum()

In [28]:
a

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
phone,,,,,,,,,,,,
84906806868,1.698635e+11,3,2,35,1.0,1.0,0.0,0.0,24.0,11.0,0.0,0.0
84868173583,2.802863e+12,85,33,8410,1.0,22.0,0.0,10.0,23.0,8387.0,0.0,0.0
84898585959,1.359367e+12,38,16,1638,4.0,3.0,8.0,1.0,1261.0,377.0,0.0,0.0
84356386381,1.698635e+11,2,0,22,2.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0
84913101416,5.094634e+11,11,6,375,3.0,2.0,0.0,1.0,116.0,259.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,4.249379e+11,9,0,135,3.0,1.0,0.0,1.0,59.0,76.0,0.0,0.0
84919904127,8.498758e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
84866824824,8.498758e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
84869056447,8.498758e+10,2,0,14,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0
84973563533,1.699752e+11,6,2,0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0

In [29]:
a['sum_call']=c.sum_call

In [30]:
a.sample(50)

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call
phone,,,,,,,,,,,,,
84947147580,8.493276e+10,2,0,30,0.0,1.0,0.0,0.0,0.0,30.0,0.0,0.0,1
84367786437,8.437772e+10,2,1,7,0.0,1.0,0.0,0.0,0.0,7.0,0.0,0.0,1
84356048983,1.097194e+12,28,13,4649,0.0,12.0,0.0,1.0,0.0,4649.0,0.0,0.0,13
84932600607,8.491701e+10,1,1,13,1.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,1
84378662002,5.063360e+11,12,0,356,3.0,0.0,3.0,0.0,356.0,0.0,0.0,0.0,6
84983711610,2.531062e+11,4,3,148,2.0,1.0,0.0,0.0,54.0,94.0,0.0,0.0,3
84866531260,8.490693e+10,3,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
84909614424,1.698079e+11,5,0,48,1.0,0.0,0.0,1.0,48.0,0.0,0.0,0.0,2
84918179423,2.202384e+12,60,26,895,2.0,18.0,2.0,4.0,53.0,842.0,0.0,0.0,26
84969106198,1.699453e+11,4,0,110,0.0,2.0,0.0,0.0,0.0,110.0,0.0,0.0,2
84906749575,8.452278e+10,2,0,102,0.0,1.0,0.0,0.0,0.0,102.0,0.0,0.0,1
84932714122,1.103803e+12,33,0,190,4.0,0.0,7.0,2.0,176.0,0.0,14.0,0.0,13
84777212131,3.391410e+11,10,0,149,1.0,1.0,1.0,1.0,113.0,36.0,0.0,0.0,4
84335318574,8.497722e+10,3,1,25,0.0,0.0,1.0,0.0,0.0,0.0,25.0,0.0,1
84963002486,4.217904e+11,10,5,215,0.0,5.0,0.0,0.0,0.0,215.0,0.0,0.0,5
84913466095,3.399014e+11,8,4,81,0.0,4.0,0.0,0.0,0.0,81.0,0.0,0.0,4
84969663553,3.397560e+11,8,4,272,2.0,1.0,0.0,1.0,174.0,98.0,0.0,0.0,4
84386454785,8.491996e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
84908501890,1.687895e+11,8,2,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2
84976343705,1.602746e+12,28,19,418,13.0,3.0,3.0,0.0,335.0,83.0,0.0,0.0,19
84866148562,6.799183e+11,24,0,124,1.0,2.0,1.0,4.0,32.0,92.0,0.0,0.0,8
84988135244,8.438240e+10,3,0,45,0.0,0.0,1.0,0.0,0.0,0.0,45.0,0.0,1
84902369534,8.439512e+10,2,0,11,0.0,1.0,0.0,0.0,0.0,11.0,0.0,0.0,1
84936025121,8.486559e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
2.51916E+11,8.816885e+12,92,25,661,10.0,8.0,2.0,15.0,329.0,332.0,0.0,0.0,35
84904320599,8.435779e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
84918080432,1.698916e+11,2,0,14,2.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,2
84387720171,1.687587e+11,4,2,65,0.0,2.0,0.0,0.0,0.0,65.0,0.0,0.0,2
84862628487,8.486263e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
84819823108,1.696642e+11,2,0,4,2.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,2
84962456246,1.686733e+11,6,0,65,0.0,1.0,0.0,1.0,0.0,65.0,0.0,0.0,2
84704711158,9.279388e+11,33,11,0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,11
84909093431,3.396724e+11,10,0,36,0.0,3.0,0.0,1.0,0.0,36.0,0.0,0.0,4
84949863333,8.491236e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
84785755270,1.698271e+11,2,0,84,2.0,0.0,0.0,0.0,84.0,0.0,0.0,0.0,2
84364602549,5.902968e+11,9,0,63,6.0,0.0,1.0,0.0,63.0,0.0,0.0,0.0,7
84917644003,8.432880e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
84987154884,3.398548e+11,5,4,181,3.0,1.0,0.0,0.0,127.0,54.0,0.0,0.0,4
84933411815,8.493988e+10,3,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
84915443405,8.497313e+10,2,0,112,0.0,1.0,0.0,0.0,0.0,112.0,0.0,0.0,1
84385460341,6.760393e+11,14,0,108,5.0,0.0,3.0,0.0,82.0,0.0,26.0,0.0,8
84937421195,8.493981e+10,2,1,5,0.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,1
84974712472,3.393430e+11,10,0,8,1.0,0.0,3.0,0.0,8.0,0.0,0.0,0.0,4
84334314343,2.549539e+11,5,3,46,2.0,0.0,1.0,0.0,30.0,0.0,16.0,0.0,3
8.49839E+11,8.494334e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
84937251341,8.490258e+10,2,1,7,0.0,1.0,0.0,0.0,0.0,7.0,0.0,0.0,1
84898780778,8.494186e+10,1,0,22,1.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,1
84868683438,3.398648e+11,9,4,245,1.0,2.0,0.0,1.0,24.0,221.0,0.0,0.0,4
84357125441,8.498800e+10,3,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
84335260925,8.496950e+10,2,0,17,0.0,1.0,0.0,0.0,0.0,17.0,0.0,0.0,1

In [31]:
a['Spam']=0

In [32]:
a

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,
84906806868,1.698635e+11,3,2,35,1.0,1.0,0.0,0.0,24.0,11.0,0.0,0.0,2,0
84868173583,2.802863e+12,85,33,8410,1.0,22.0,0.0,10.0,23.0,8387.0,0.0,0.0,33,0
84898585959,1.359367e+12,38,16,1638,4.0,3.0,8.0,1.0,1261.0,377.0,0.0,0.0,16,0
84356386381,1.698635e+11,2,0,22,2.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,2,0
84913101416,5.094634e+11,11,6,375,3.0,2.0,0.0,1.0,116.0,259.0,0.0,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,4.249379e+11,9,0,135,3.0,1.0,0.0,1.0,59.0,76.0,0.0,0.0,5,0
84919904127,8.498758e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84866824824,8.498758e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84869056447,8.498758e+10,2,0,14,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,1,0
84973563533,1.699752e+11,6,2,0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2,0

In [33]:
phone=pd.read_csv('phones.csv')

In [34]:
phone.sample(10)

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct
836415,84984713139,098 4713139,Háº£i DÆ°Æ¡ng - Huyá»‡n Kim ThÃ nh - Kh00822 -...,Háº£i DÆ°Æ¡ng - Huyá»‡n Kim ThÃ nh - Kh00822 -...,1,0,0,0,0,0,0,0,0,0
138572,8.41801E+12,1-800-705-0775,Viet Nam,Viet Nam,1,0,0,0,0,0,0,0,0,0
73187,84906825245,906825245,NguyÃªÌƒn ThuÌ£y HoaÌ€i NguyÃªÌƒn,NguyÃªÌƒn ThuÌ£y HoaÌ€i NguyÃªÌƒn,0,0,0,0,0,0,0,0,0,0
473557,84913383898,913383898,A HÃ¹ng Ql Vá»‹nh Qn,A HÃ¹ng Ql Vá»‹nh Qn,1,0,0,0,0,0,0,0,0,0
520314,84938696888,938696888,Em Trung HÆ°Æ¡ng,Em Trung HÆ°Æ¡ng,1,0,0,0,0,0,0,0,0,0
163955,84905426336,905426336,PhÆ°Æ¡ng TrÃ¢Ì€m HuÃªÌ,PhÆ°Æ¡ng TrÃ¢Ì€m HuÃªÌ,1,0,0,0,0,0,0,0,0,0
625070,84813907800,813907800,CÃ Lo Sunteel,CÃ Lo Sunteel,1,0,0,0,0,0,0,0,0,0
187908,84985319466,985319466,A Thi TrÃ¡ng Viá»‡t,A Thi TrÃ¡ng Viá»‡t,1,0,0,0,0,0,0,0,0,0
773636,84976649855,976649855,Eha Náº­m ÄÃ´ng,Eha Náº­m ÄÃ´ng,1,0,0,0,0,0,0,0,0,0
1009232,84907944164,907944164,A Khoa B1 101,A Khoa B1 101,1,0,0,0,0,0,0,0,0,0

In [35]:
phone['sum_report']=phone.report_advertising+phone.report_loan+phone.report_debt+phone.report_cheat+phone.report_real_estate+phone.report_other

In [36]:
phone.head()

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct,sum_report
0,84785169744,84785169744,Nguyá»…n T Nga,Nguyá»…n Thá»‹ Nga\nNga,0,0,0,0,0,0,0,0,0,0,0
1,84345918901,84345918901,Nguyá»…n Anh Tuáº¥n 123,DÆ°Æ¡ng LÃ¢m Vy\r\nTuáº¥n Va\r\nGrooo Tuáº¥nva,0,0,0,0,0,0,0,0,0,0,0
2,84909437979,84909437979,Tuyáº¿t NgÃ¢n,Nguyá»…n Thá»‹ Tuyáº¿t NgÃ¢n,0,0,0,0,0,0,0,0,0,0,0
3,84982997171,982997171,Tráº§n Ngá»c ThiÃªn Anh,Tráº§n Ngá»c ThiÃªn Anh\nTráº§n Ngá»c ThiÃªn...,0,0,0,0,0,0,0,0,0,0,0
4,84813313687,84813313687,Tráº§n Ngá»c ThiÃªn Anh,Tráº§n Ngá»c ThiÃªn Anh\nTráº§n Ngá»c ThiÃªn...,0,0,0,0,0,0,0,0,0,0,0

In [37]:
phone['Spam']=phone['sum_report']>0
phone['Spam'].sum()

2683

In [38]:
phone_spam=phone.loc[phone.Spam==1]
for i in phone_spam.phone:
    if i in a.index:
        a.loc[i,'Spam']=1

In [39]:
a.Spam.sum()

600

In [40]:
a

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,
84906806868,1.698635e+11,3,2,35,1.0,1.0,0.0,0.0,24.0,11.0,0.0,0.0,2,0
84868173583,2.802863e+12,85,33,8410,1.0,22.0,0.0,10.0,23.0,8387.0,0.0,0.0,33,0
84898585959,1.359367e+12,38,16,1638,4.0,3.0,8.0,1.0,1261.0,377.0,0.0,0.0,16,0
84356386381,1.698635e+11,2,0,22,2.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,2,0
84913101416,5.094634e+11,11,6,375,3.0,2.0,0.0,1.0,116.0,259.0,0.0,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,4.249379e+11,9,0,135,3.0,1.0,0.0,1.0,59.0,76.0,0.0,0.0,5,0
84919904127,8.498758e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84866824824,8.498758e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84869056447,8.498758e+10,2,0,14,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,1,0
84973563533,1.699752e+11,6,2,0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2,0

In [41]:
a

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,
84906806868,1.698635e+11,3,2,35,1.0,1.0,0.0,0.0,24.0,11.0,0.0,0.0,2,0
84868173583,2.802863e+12,85,33,8410,1.0,22.0,0.0,10.0,23.0,8387.0,0.0,0.0,33,0
84898585959,1.359367e+12,38,16,1638,4.0,3.0,8.0,1.0,1261.0,377.0,0.0,0.0,16,0
84356386381,1.698635e+11,2,0,22,2.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,2,0
84913101416,5.094634e+11,11,6,375,3.0,2.0,0.0,1.0,116.0,259.0,0.0,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,4.249379e+11,9,0,135,3.0,1.0,0.0,1.0,59.0,76.0,0.0,0.0,5,0
84919904127,8.498758e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84866824824,8.498758e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84869056447,8.498758e+10,2,0,14,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,1,0
84973563533,1.699752e+11,6,2,0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2,0

In [42]:
spam=a.loc[a.Spam==1]
spam

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,
84989082183,6.964644e+12,270,82,129,4.0,9.0,28.0,41.0,10.0,119.0,0.0,0.0,82,1
8.42473E+11,8.790588e+13,2105,29,42620,485.0,86.0,424.0,44.0,35170.0,4811.0,2639.0,0.0,1039,1
8.42871E+11,8.748998e+13,2019,102,44968,511.0,214.0,224.0,102.0,27173.0,16562.0,1233.0,0.0,1051,1
84965303997,1.885915e+13,580,77,6106,57.0,26.0,85.0,54.0,245.0,5852.0,9.0,0.0,222,1
84979169738,7.644370e+11,23,9,455,1.0,5.0,0.0,3.0,97.0,358.0,0.0,0.0,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84961254564,8.497642e+10,3,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1
84903743286,8.493376e+10,1,0,11,1.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,1,1
84896161825,8.490684e+10,3,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1
84986664512,2.123031e+12,54,25,322,9.0,8.0,3.0,5.0,243.0,79.0,0.0,0.0,25,1
84862141510,8.498967e+10,3,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1

In [43]:
not_spam=a.loc[a.Spam!=1]
not_spam

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,
84906806868,1.698635e+11,3,2,35,1.0,1.0,0.0,0.0,24.0,11.0,0.0,0.0,2,0
84868173583,2.802863e+12,85,33,8410,1.0,22.0,0.0,10.0,23.0,8387.0,0.0,0.0,33,0
84898585959,1.359367e+12,38,16,1638,4.0,3.0,8.0,1.0,1261.0,377.0,0.0,0.0,16,0
84356386381,1.698635e+11,2,0,22,2.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,2,0
84913101416,5.094634e+11,11,6,375,3.0,2.0,0.0,1.0,116.0,259.0,0.0,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,4.249379e+11,9,0,135,3.0,1.0,0.0,1.0,59.0,76.0,0.0,0.0,5,0
84919904127,8.498758e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84866824824,8.498758e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84869056447,8.498758e+10,2,0,14,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,1,0
84973563533,1.699752e+11,6,2,0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2,0

In [44]:
a.loc[a.Spam==1].index

Index(['84989082183', '8.42473E+11', '8.42871E+11', '84965303997',
       '84979169738', '8.42863E+11', '84932735077', '84932719354',
       '84932721581', '84932705277',
       ...
       '84981693274', '84902546338', '84961282045', '84912129576',
       '84782986522', '84961254564', '84903743286', '84896161825',
       '84986664512', '84862141510'],
      dtype='object', name='phone', length=600)

In [45]:
a.loc[a.duration_call_to_miss>0]

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,
8.42857E+11,4.561621e+13,1596,0,1299,3.0,33.0,489.0,15.0,2.0,1229.0,68.0,0.0,540,0
8.42473E+11,8.790588e+13,2105,29,42620,485.0,86.0,424.0,44.0,35170.0,4811.0,2639.0,0.0,1039,1
8.42871E+11,8.748998e+13,2019,102,44968,511.0,214.0,224.0,102.0,27173.0,16562.0,1233.0,0.0,1051,1
84965303997,1.885915e+13,580,77,6106,57.0,26.0,85.0,54.0,245.0,5852.0,9.0,0.0,222,1
8.42863E+11,6.309474e+13,1593,127,40629,303.0,104.0,282.0,59.0,33429.0,6250.0,950.0,0.0,748,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84909973146,8.493900e+10,3,0,39,0.0,0.0,1.0,0.0,0.0,0.0,39.0,0.0,1,0
84909427571,8.493900e+10,3,0,39,0.0,0.0,1.0,0.0,0.0,0.0,39.0,0.0,1,0
84981694310,1.699508e+11,7,0,38,0.0,0.0,1.0,1.0,0.0,0.0,38.0,0.0,2,0
84981694208,1.699508e+11,7,0,37,0.0,0.0,1.0,1.0,0.0,0.0,37.0,0.0,2,0
84963366841,5.948278e+11,25,7,81,0.0,1.0,1.0,5.0,0.0,36.0,45.0,0.0,7,0

In [46]:
data.loc[(data.type==3)&(data.duration!=0)]

,member_phone,phone,type,time,in_contact,duration
7522,8.436702e+10,84827368626,3,9/20/2020 15:35,0,61
7534,8.436702e+10,84974121266,3,9/9/2020 16:33,0,46
7570,8.436702e+10,84877258408,3,9/13/2020 10:02,0,20
7576,8.436702e+10,84974121266,3,9/9/2020 16:37,0,45
10280,8.496600e+10,84368358888,3,10/26/2020 9:20,0,46
...,...,...,...,...,...,...
1047431,8.497540e+10,84963366841,3,2/2/2021 16:54,1,45
1047450,8.497540e+10,84981694208,3,2/2/2021 16:03,0,37
1047453,8.497540e+10,84936869833,3,2/2/2021 15:43,0,12
1047456,8.497540e+10,84961816303,3,2/2/2021 13:44,0,38
1047467,8.497540e+10,84904681353,3,2/2/2021 10:42,0,43

In [47]:
a

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,
84906806868,1.698635e+11,3,2,35,1.0,1.0,0.0,0.0,24.0,11.0,0.0,0.0,2,0
84868173583,2.802863e+12,85,33,8410,1.0,22.0,0.0,10.0,23.0,8387.0,0.0,0.0,33,0
84898585959,1.359367e+12,38,16,1638,4.0,3.0,8.0,1.0,1261.0,377.0,0.0,0.0,16,0
84356386381,1.698635e+11,2,0,22,2.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,2,0
84913101416,5.094634e+11,11,6,375,3.0,2.0,0.0,1.0,116.0,259.0,0.0,0.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,4.249379e+11,9,0,135,3.0,1.0,0.0,1.0,59.0,76.0,0.0,0.0,5,0
84919904127,8.498758e+10,4,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84866824824,8.498758e+10,4,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
84869056447,8.498758e+10,2,0,14,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,1,0
84973563533,1.699752e+11,6,2,0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2,0

In [48]:
not_spam=a.loc[a.Spam==0].sample(1200)
not_spam

,member_phone,type,in_contact,duration,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,
84981692439,8.496811e+10,2,1,171,0.0,1.0,0.0,0.0,0.0,171.0,0.0,0.0,1,0
84938278699,7.641236e+11,26,9,50,0.0,5.0,0.0,4.0,0.0,50.0,0.0,0.0,9,0
84387373722,2.547296e+11,3,3,109,3.0,0.0,0.0,0.0,109.0,0.0,0.0,0.0,3,0
84328978965,6.793041e+11,29,8,30,0.0,1.0,1.0,6.0,0.0,30.0,0.0,0.0,8,0
84944243239,8.491365e+10,1,1,20,1.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84328696763,1.698944e+11,4,0,24,1.0,0.0,1.0,0.0,24.0,0.0,0.0,0.0,2,0
84898051666,8.497800e+10,2,1,14,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,1,0
84339457122,1.687393e+11,2,2,61,2.0,0.0,0.0,0.0,61.0,0.0,0.0,0.0,2,0
84975535373,8.493507e+10,2,1,56,0.0,1.0,0.0,0.0,0.0,56.0,0.0,0.0,1,0
84849101102,1.696475e+11,2,0,15,2.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,2,0

In [49]:
data_icaller=pd.concat([spam, not_spam], axis=0)
data_icaller['phone']=data_icaller.index

In [50]:
data_icaller.to_csv('data_icaller2.csv', index=False)

In [51]:
t=pd.to_datetime(df.time.sample(10))

In [52]:
t.to_frame(name='Time')

                      Time
665828 2021-01-04 12:08:00
992837 2021-01-22 15:20:00
173874 2020-11-12 14:42:00
893942 2021-01-11 17:21:00
321417 2020-11-23 12:22:00
701668 2021-01-03 10:30:00
875204 2021-01-17 15:30:00
901909 2021-01-19 11:21:00
867705 2021-01-15 10:06:00
968480 2021-01-26 11:04:00