In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

# Spam

In [2]:
spam = pd.read_csv("C:\\Users\\ASUS\\Desktop\\AI Project\\Spam Calls SPIT\\icaller-data\\icaller_data_Long\\clean\\spam_new.csv")
# del df['phone']

In [3]:
spam.describe()

,index,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
count,230.000000,2.300000e+02,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.0
mean,244045.200000,1.541091e+11,23.260870,1.095652,36.634783,3.743478,652.208696,48.934783,13.085049,2.504058,0.045922,52.317391,0.243773,43.886957,1.0
std,94686.761833,2.187848e+11,97.373865,3.942765,42.886329,7.006505,1371.698956,394.310221,13.747954,13.029407,0.198654,89.059468,0.165629,109.649044,0.0
min,14021.000000,8.433259e+10,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,218497.500000,8.493270e+10,7.000000,0.000000,13.250000,0.250000,115.500000,0.000000,4.320201,0.000000,0.000000,20.000000,0.142857,12.000000,1.0
50%,272120.000000,8.493275e+10,12.000000,0.000000,23.000000,2.000000,305.000000,0.000000,9.150368,0.000000,0.000000,32.000000,0.215839,29.000000,1.0
75%,272378.750000,8.493280e+10,17.750000,0.000000,40.000000,4.000000,672.000000,0.000000,15.454358,0.000000,0.000000,49.750000,0.290242,43.750000,1.0
max,409424.000000,8.429000e+11,1455.000000,28.000000,325.000000,60.000000,13363.000000,5578.000000,89.133036,174.311955,1.000000,1118.000000,1.000000,1595.000000,1.0

In [4]:
spam.loc[spam.call_to<=17.75]

,index,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,14021,842473000991,2,0,3,0,236.0,0.0,47.199056,0.000000,0.000000,4,0.400000,0,1
1,15046,842499950216,1,9,94,0,0.0,295.0,0.000000,32.777414,0.009615,86,0.067308,2,1
3,17769,842835214389,15,0,29,8,1021.0,0.0,23.204493,0.000000,0.000000,41,0.250000,0,1
6,20319,842873001619,12,0,38,2,235.0,0.0,4.699991,0.000000,0.000000,31,0.153846,1,1
7,20320,842873001651,16,0,40,1,274.0,0.0,4.892848,0.000000,0.000000,44,0.192982,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,371454,84977047564,13,6,15,0,106.0,20.0,3.785701,3.333278,0.000000,25,0.147059,18,1
217,373894,84977620258,12,0,17,1,117.0,0.0,4.034469,0.000000,0.000000,25,0.100000,12,1
224,391307,84982479449,10,0,37,1,415.0,0.0,8.829768,0.000000,0.000000,46,0.187500,32,1
225,401547,84984809218,8,1,27,0,36.0,2.0,1.028568,1.999800,0.000000,28,0.027778,24,1
227,405430,84985588942,4,21,0,22,70.0,295.0,17.499563,6.860449,1.000000,37,0.489362,47,1

In [5]:
a=[0]*20
print(a[0])
for i in spam.phone:
    for j in range(0,20):
        if len(str(i)) == j:
#             print(i)
            a[j] = a[j]+1
print(a)

0
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 209, 21, 0, 0, 0, 0, 0, 0, 0]

In [6]:
for i in spam.phone:
    if (len(str(i)) ==13) :
        print(i)

In [7]:
# phone =[]
# for i in spam.phone:
#     if (len(str(i)) ==11) or (len(str(i)) ==12):
#         phone.append(i)

In [8]:
# len(phone)
# yes = [1]*len(phone)
# tam = {'phone' : phone, 'yes' : yes}
# phone_in = pd.DataFrame(tam)
# phone_in = phone_in.set_index('phone')

In [9]:
# phone_dict = phone_in.transpose().to_dict()

In [10]:
# phone_dict

In [11]:
# phone_dict[442036952274]['yes']

In [12]:
# tam =[]
# for i in range(len(spam)):
#     try: 
#         tam.append(phone_dict[(spam.phone[i])]['yes'])
#     except:
#         tam.append(0)

In [13]:
# spam['in_phone'] = tam

In [14]:
# spam

In [15]:
# spam = spam.drop((spam.loc[spam.in_phone == 0].index),axis = 0)

In [16]:
spam.to_csv('spam_clean_new.csv',index=False)

# Member

In [17]:
member = pd.read_csv("C:\\Users\\ASUS\\Desktop\\AI Project\\Spam Calls SPIT\\icaller-data\\icaller_data_Long\\clean\\member_neww.csv")
member

,member_phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,84931768866,439,345,317,183,53114.0,27539.0,70.256604,52.157187,0.820093,929,0.570872,543,0
1,60122976404,0,0,1,10,0.0,0.0,0.000000,0.000000,0.000000,7,0.000000,11,0
2,84937445006,18,17,23,38,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,74,0
3,917000112564,0,2,4,0,0.0,37.0,0.000000,18.499075,0.000000,5,0.333333,6,0
4,918077934174,2,1,3,1,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13362,84833101437,35,20,22,17,461.0,224.0,8.087705,6.054038,0.872340,73,0.468085,68,0
13363,84384599441,1,0,1,0,14.0,0.0,6.999650,0.000000,1.000000,2,0.500000,0,0
13364,84358609143,3,1,0,0,73.0,30.0,24.332522,29.997000,1.000000,3,1.000000,4,0
13365,84349606698,22,13,6,57,631.0,823.0,22.535634,11.757126,0.520408,79,0.346939,73,0
13366,233545363344,17,44,26,13,2682.0,4780.0,62.371948,83.859502,0.930000,76,0.580000,100,0

In [18]:
member.describe()

,member_phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
count,1.336700e+04,13367.000000,13367.000000,13367.000000,13367.000000,13367.000000,13367.000000,13367.000000,13367.000000,13367.000000,13367.000000,13367.000000,13367.000000,13367.0
mean,9.310146e+10,45.338371,47.303135,32.366051,29.131668,2827.812897,2500.271489,32.895674,32.765212,0.628239,100.434877,0.529526,93.827336,0.0
std,2.166616e+11,72.175238,63.235763,54.409567,43.299434,6458.388050,5047.789002,43.486379,49.273656,0.280601,134.827691,0.169633,133.777581,0.0
min,2.565250e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,8.438654e+10,15.000000,18.000000,12.000000,8.000000,488.500000,609.000000,13.998600,14.862948,0.452992,47.000000,0.440000,30.000000,0.0
50%,8.490415e+10,28.000000,32.000000,21.000000,17.000000,1134.000000,1286.000000,22.239106,24.216626,0.700337,66.000000,0.550000,67.000000,0.0
75%,8.496497e+10,44.000000,50.000000,35.000000,34.000000,2664.500000,2622.000000,36.459079,38.082710,0.852988,93.000000,0.642105,95.000000,0.0
max,8.801648e+12,1549.000000,1082.000000,3598.000000,983.000000,251013.000000,268526.000000,1182.171071,3074.338513,1.000000,2209.000000,1.000000,2820.000000,0.0

In [19]:
member = member.drop((member.loc[(member.call_to == 0) & (member.call_in == 0)]).index, axis = 0)
member = member.drop((member.loc[(member.call_to == 0)]).index, axis = 0)
member = member.drop((member.loc[(member.call_in == 0)]).index, axis = 0)
member = member.drop((member.loc[(member.duration_call_in == 0)]).index, axis = 0)
member = member.drop((member.loc[(member.duration_call_to == 0)]).index, axis = 0)

In [20]:
member.describe()

,member_phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
count,1.266900e+04,12669.000000,12669.000000,12669.000000,12669.000000,12669.000000,12669.000000,12669.000000,12669.000000,12669.000000,12669.000000,12669.000000,12669.000000,12669.0
mean,8.977332e+10,47.768411,49.612756,33.893125,30.224169,2976.207751,2626.016023,33.768531,33.875655,0.639466,105.211066,0.539748,98.338701,0.0
std,1.679598e+11,73.362201,64.086833,55.408523,43.958731,6599.488036,5153.278437,41.806743,49.466166,0.267087,136.784771,0.148243,135.873494,0.0
min,2.565250e+05,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.129032,0.070588,0.000000,0.000000,0.000000,0.000000,0.0
25%,8.438639e+10,17.000000,20.000000,13.000000,9.000000,577.000000,697.000000,14.894711,15.816388,0.472892,50.000000,0.450980,36.000000,0.0
50%,8.490422e+10,29.000000,33.000000,22.000000,18.000000,1222.000000,1370.000000,23.047582,24.999821,0.707317,67.000000,0.555324,69.000000,0.0
75%,8.496523e+10,46.000000,51.000000,36.000000,34.000000,2797.000000,2748.000000,37.187384,38.924903,0.852941,99.000000,0.642857,96.000000,0.0
max,8.801648e+12,1549.000000,1082.000000,3598.000000,983.000000,251013.000000,268526.000000,1182.171071,3074.338513,1.000000,2209.000000,1.000000,2820.000000,0.0

In [21]:
a=[0]*20
print(a[0])
for i in member.member_phone:
    for j in range(0,20):
        if len(str(i)) == j:
#             print(i)
            a[j] = a[j]+1
print(a)

0
[0, 0, 0, 0, 0, 0, 1, 0, 0, 38, 3, 12574, 48, 5, 0, 0, 0, 0, 0, 0]

In [22]:
for i in member.member_phone:
    if (len(str(i)) == 10):
        print(i)

8433759088
8419370602
8444221083

In [23]:
phone = []
for i in member.member_phone:
    if (len(str(i)) >= 9):
        phone.append(i)
print(len(phone))

12668

In [24]:
# yes = [1]*len(phone)
# tam = {'phone' : phone, 'yes' : yes}
# phone_in = pd.DataFrame(tam)
# phone_in = phone_in.set_index('phone')

In [25]:
# phone_dict = phone_in.transpose().to_dict()

In [26]:
# tam =[]
# for i in range(len(member)):
#     try: 
#         tam.append(phone_dict[(member.member_phone[i])]['yes'])
#     except:
#         tam.append(0)

In [27]:
# member['in_phone'] = tam
# member = member.drop((member.loc[member.in_phone == 0].index),axis = 0)

In [28]:
member.to_csv('member_clean_new.csv',index=False)

# Not label

In [29]:
notlabel = pd.read_csv("C:\\Users\\ASUS\\Desktop\\AI Project\\Spam Calls SPIT\\icaller-data\\icaller_data_Long\\clean\\not_label_new.csv")
notlabel

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,842437689567,0,1,0,0,0.0,76.0,0.000000,75.992401,0.000000,1,1.000000,0,0
1,842437689679,0,2,0,0,0.0,227.0,0.000000,113.494325,0.000000,0,1.000000,0,0
2,842437710404,1,2,0,0,75.0,215.0,74.992501,107.494625,0.000000,3,1.000000,0,0
3,842437717717,1,0,0,0,50.0,0.0,49.995000,0.000000,1.000000,1,1.000000,0,0
4,842437727031,1,0,0,0,37.0,0.0,36.996300,0.000000,0.000000,1,1.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413610,999,10,0,24,38,179.0,0.0,5.264690,0.000000,0.027778,48,0.083333,1,0
413611,9999,0,0,0,2,0.0,0.0,0.000000,0.000000,0.000000,1,0.000000,0,0
413612,99999,0,0,0,2,0.0,0.0,0.000000,0.000000,0.000000,2,0.000000,0,0
413613,999999,0,0,0,1,0.0,0.0,0.000000,0.000000,0.000000,1,0.000000,0,0
413614,9999999,0,0,0,1,0.0,0.0,0.000000,0.000000,0.000000,0,0.000000,0,0

In [30]:
del_phone = notlabel.loc[((notlabel.call_to <= 1) & (notlabel.call_in <= 1) &(notlabel.call_to_miss <= 1)&(notlabel.call_in_miss <= 1))]

In [31]:
del_phone

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,842437689567,0,1,0,0,0.0,76.0,0.0000,75.992401,0.0,1,1.0,0,0
3,842437717717,1,0,0,0,50.0,0.0,49.9950,0.000000,1.0,1,1.0,0,0
4,842437727031,1,0,0,0,37.0,0.0,36.9963,0.000000,0.0,1,1.0,0,0
5,842437728056,1,0,0,0,6.0,0.0,5.9994,0.000000,0.0,1,0.0,0,0
6,842437738686,0,1,0,0,0.0,83.0,0.0000,82.991701,0.0,1,1.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413605,998993785516,0,1,0,0,0.0,102.0,0.0000,101.989801,1.0,1,1.0,1,0
413606,998994492354,0,0,0,1,0.0,0.0,0.0000,0.000000,0.0,0,0.0,1,0
413609,998995927372,0,0,0,1,0.0,0.0,0.0000,0.000000,1.0,0,0.0,1,0
413613,999999,0,0,0,1,0.0,0.0,0.0000,0.000000,0.0,1,0.0,0,0
413614,9999999,0,0,0,1,0.0,0.0,0.0000,0.000000,0.0,0,0.0,0,0

In [32]:
notlabel = notlabel.drop(del_phone.index,axis = 0)

In [33]:
del_phone = notlabel.loc[(notlabel.call_to == 0) & (notlabel.call_in > 0) &(notlabel.call_to_miss == 0) & (notlabel.call_in_miss >= 0) ]

In [34]:
notlabel = notlabel.drop(del_phone.index,axis = 0)

In [35]:
a=[0]*20
print(a[0])
for i in notlabel.phone:
    for j in range(0,20):
        if len(str(i)) == j:
#             print(i)
            a[j] = a[j]+1
print(a)

0
[0, 0, 11, 22, 28, 3, 6, 1, 2, 49, 152, 163354, 4280, 54, 11, 9, 4, 2, 0, 1]

In [36]:
for i in notlabel.phone:
    if len(str(i)) == 5:
        print(i)

88669
98134
99999

In [37]:
notlabel.loc[notlabel.phone == '01094']

Empty DataFrame
Columns: [phone, call_to, call_in, call_to_miss, call_in_miss, duration_call_to, duration_call_in, avg_duration_call_to, avg_duration_call_in, avg_in_contact, in_hour, avg_success, cung_mang, Spam]
Index: []

In [38]:
phone = []
for i in notlabel.phone:
    if (len(str(i)) == 1)  or (len(str(i)) == 2) or (len(str(i)) == 3)  or (len(str(i)) == 5) :
        phone.append(i)
print(len(phone))

36

In [39]:
yes = [0]*len(phone)
tam = {'phone' : phone, 'yes' : yes}
phone_in = pd.DataFrame(tam)
phone_in = phone_in.set_index('phone')

In [40]:
phone_dict = phone_in.transpose().to_dict()

In [41]:
tam =[]
for i in range(len(notlabel)):
    try: 
        tam.append(phone_dict[(notlabel.phone[i])]['yes'])
    except:
        tam.append(1)

In [42]:
notlabel['in_phone'] = tam
notlabel = notlabel.drop((notlabel.loc[notlabel.in_phone == 0].index),axis = 0)

In [43]:
del notlabel['in_phone']

In [44]:
notlabel

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
2,842437710404,1,2,0,0,75.0,215.0,74.992501,107.494625,0.000000,3,1.000000,0,0
15,842437824654,2,0,0,0,7.0,0.0,3.499825,0.000000,1.000000,1,0.000000,0,0
19,842437835527,3,1,0,1,120.0,26.0,39.998667,12.999350,0.000000,5,0.800000,0,0
23,842437836363,3,0,0,0,42.0,0.0,13.999533,0.000000,0.333333,3,1.000000,0,0
40,842437938828,3,1,0,0,185.0,12.0,61.664611,11.998800,0.000000,4,1.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413607,998995279591,4,6,0,0,563.0,1434.0,140.746481,238.996017,0.000000,6,1.000000,10,0
413608,998995720517,0,0,0,14,0.0,0.0,0.000000,0.000000,0.000000,0,0.000000,14,0
413610,999,10,0,24,38,179.0,0.0,5.264690,0.000000,0.027778,48,0.083333,1,0
413611,9999,0,0,0,2,0.0,0.0,0.000000,0.000000,0.000000,1,0.000000,0,0
413612,99999,0,0,0,2,0.0,0.0,0.000000,0.000000,0.000000,2,0.000000,0,0

In [45]:
notlabel.to_csv('notlabel_clean_new.csv',index=False)

In [46]:
features_p=['phone','call_to', 'call_in', 'call_to_miss', 'call_in_miss','duration_call_to', 'duration_call_in','avg_duration_call_to', 'avg_duration_call_in','avg_in_contact','in_hour','avg_success','cung_mang','Spam']

In [47]:
notlabel

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
2,842437710404,1,2,0,0,75.0,215.0,74.992501,107.494625,0.000000,3,1.000000,0,0
15,842437824654,2,0,0,0,7.0,0.0,3.499825,0.000000,1.000000,1,0.000000,0,0
19,842437835527,3,1,0,1,120.0,26.0,39.998667,12.999350,0.000000,5,0.800000,0,0
23,842437836363,3,0,0,0,42.0,0.0,13.999533,0.000000,0.333333,3,1.000000,0,0
40,842437938828,3,1,0,0,185.0,12.0,61.664611,11.998800,0.000000,4,1.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413607,998995279591,4,6,0,0,563.0,1434.0,140.746481,238.996017,0.000000,6,1.000000,10,0
413608,998995720517,0,0,0,14,0.0,0.0,0.000000,0.000000,0.000000,0,0.000000,14,0
413610,999,10,0,24,38,179.0,0.0,5.264690,0.000000,0.027778,48,0.083333,1,0
413611,9999,0,0,0,2,0.0,0.0,0.000000,0.000000,0.000000,1,0.000000,0,0
413612,99999,0,0,0,2,0.0,0.0,0.000000,0.000000,0.000000,2,0.000000,0,0

# icaller_data_new.csv

In [48]:
del spam['index']

In [49]:
member = member.rename(columns = {'member_phone' : 'phone'},inplace = False)

In [50]:
member

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,84931768866,439,345,317,183,53114.0,27539.0,70.256604,52.157187,0.820093,929,0.570872,543,0
2,84937445006,18,17,23,38,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,74,0
4,918077934174,2,1,3,1,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,7,0
5,84904427330,207,120,201,135,17849.0,9177.0,43.747538,35.988221,0.799397,462,0.475113,255,0
7,84392266391,41,6,32,4,2691.0,1070.0,36.862963,106.998930,0.903614,57,0.542169,71,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13361,84912361891,15,43,19,22,785.0,1406.0,23.088167,21.630736,0.060606,72,0.515152,53,0
13362,84833101437,35,20,22,17,461.0,224.0,8.087705,6.054038,0.872340,73,0.468085,68,0
13364,84358609143,3,1,0,0,73.0,30.0,24.332522,29.997000,1.000000,3,1.000000,4,0
13365,84349606698,22,13,6,57,631.0,823.0,22.535634,11.757126,0.520408,79,0.346939,73,0
13366,233545363344,17,44,26,13,2682.0,4780.0,62.371948,83.859502,0.930000,76,0.580000,100,0

In [51]:
icaller_data_new = pd.concat([spam,member.sample(2300)],axis=0)

In [52]:
icaller_data_new

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,842473000991,2,0,3,0,236.0,0.0,47.199056,0.000000,0.000000,4,0.400000,0,1
1,842499950216,1,9,94,0,0.0,295.0,0.000000,32.777414,0.009615,86,0.067308,2,1
2,842499959998,81,0,2,3,694.0,0.0,8.361436,0.000000,0.000000,43,0.802326,0,1
3,842835214389,15,0,29,8,1021.0,0.0,23.204493,0.000000,0.000000,41,0.250000,0,1
4,842838664080,42,3,75,1,444.0,187.0,3.794869,46.748831,0.041322,97,0.132231,57,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4706,84869607598,2,23,2,69,21.0,979.0,5.249869,10.641293,0.031250,91,0.260417,75,0
6263,84903018040,3,34,1,3,31.0,755.0,7.749806,20.405350,0.658537,33,0.682927,18,0
6243,84966699609,28,32,7,0,930.0,1651.0,26.571353,51.593589,0.179104,49,0.850746,60,0
4176,84392823504,21,25,11,41,1637.0,1007.0,51.156090,15.257553,0.846939,75,0.438776,57,0
5288,84981394796,62,133,45,62,2934.0,7021.0,27.420535,36.005110,0.456954,209,0.576159,242,0

In [53]:
icaller_data_new.to_csv('icaller_data_test.csv', index=False)